html,body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

span.PrivateTabIndicator-colorSecondary-65{
    background-color:rgb(255, 64, 128);
}

header.MuiAppBar-colorPrimary{
    background-color: rgb(0,188,212);
}

div.MuiTabs-root{
    min-height: 64px;
}

a.MuiTab-root{
    min-height: 64px;
}

.read_more_button{
    color: grey;
    text-transform: capitalize;
}

.read_more_button:hover{
    cursor:pointer;
}

.homepage_link{
    text-decoration: none;
    color:grey;
    width:100%;
}

button.MuiButton-contained{
    background-color: rgb(0,188,212);
    color:white;
    margin-right:10px;
}

button.MuiButton-contained:hover{
    background-color: rgb(255, 15, 115);
}

h2.MuiTypography-h2{
    text-align: center;
}
